body {
  background-color: #748CAB;
  padding-top: 60px; 
}

.container {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container > * {
  width: 100%;
}

.main {
  position: absolute;
  top: 8rem;
  left: 0rem;
  align-items: center;
}

.howtoapply {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 40rem;  
}

.companylogo {
  overflow: hidden;
}
  
  .flex-column {
    display: flex;
    flex-direction: column;
  }
  
  .flex-center {
    justify-content: center;
    align-items: center;
  }
  
  .justify-center {
    justify-content: center;
  }
  
  .text-center {
    text-align: center;
  }

  h1, h2, p, ul, li {
    font-family: sans-serif;
  }
  
  .hidden {
    display: none;
  }
  
  .form-group {
    display: flex;
    flex-direction: column;
    margin: 1rem;
  }
  
  .form-group > label {
    color: black;
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
  }
  
  /* BUTTONS */
  .btn {
    font-size: 1rem;
    width: 10rem;
    text-align: center;
    border: 0.1rem solid #1D2D44;
    margin-bottom: 1rem;
    text-decoration: none;
    color: white;
    background: #1D2D44;
  }
  
  .btn:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(61, 77, 230, 0.5);
    transform: translateY(-0.1rem);
    transition: transform 150ms;
  }
  
  .btn[disabled]:hover {
    cursor: not-allowed;
    box-shadow: none;
    transform: none;
  }

  .btn-search {
    color: white;
    background: #1D2D44;
    font-size: 1rem;
    margin: 0.5rem;
    width: 10rem;
  }
  
  .btn-select {
    color: white;
    background: #1D2D44;
    font-size: 1rem;
    margin: 0.5rem;
    width: 10rem;
  }

  .btn-flat {
    background-color: #1D2D44;
    color: white;
    border-radius: .25rem;
    font-size: 1rem;
    margin: 0.5rem;
    width: 8rem;
  }

  .card-grid {
    display: grid;
    position: absolute;
    top: 3rem;
    left: 3rem; 
    align-items: center;
    grid-template-columns: repeat(auto-fill, minmax(600px, 1fr));
    gap: 1rem;
  }
  
  .card {
    display: flex;
    justify-content: left;
    align-items: left;
    position: relative;
    min-height: 12rem;
    min-width: 36rem;
    border-radius: .25rem;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, .3);
    background-color: beige;
    transform-style: preserve-3d;
    transition: 150ms;
    cursor: pointer;
    transform: perspective(1000px) rotateY(var(--rotate-y, 0)) translateY(var(--translate-y, 0));
  }
  
  .card:hover {
    --translate-y: -2px;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, .8);
  }
  
  .card.flip {
    --rotate-y: 180deg;
  }
  
  .card .front {
    text-align: left;
    left: 0;
  }
  
  .card .front,
  .card .back {
    position: absolute;
    padding: 1rem;
    backface-visibility: hidden;
  }
  
  .card .back {
    transform: rotateY(180deg);
  }
  
  .flashcard-options {
    margin-top: .75rem;
    margin-left: .75rem;
  }
  
  .flashcard-option {
    margin-top: .25rem;
    color: #555;
    font-size: .75rem;
  }
  
  .flashcard-option:first-child {
    margin-top: 0;
  }

  .list {
    position: absolute;
    top: 13rem;
  }

  .list-group {
    position: absolute;
    top: 2rem;
    left: 0rem;
  }

  .loading {
    position: absolute;
    top: 8rem;
    left: 3rem;
    font-size: 2rem;
    text-align: center;
  }

  .loading-problems {
    position: absolute;
    top: 15rem;
    left: 5rem;
    font-size: 2rem;
    text-align: center;
  }

  .search-section {
    position: absolute;
    top: 0.25rem;
    left: 0.5rem;
    width: 100%;
    margin: 0em auto;
    background-color:  #748CAB;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, .6);
  }

  .new-problem-form {
    position: absolute;
    top: 3.5rem;
    left: 0rem;
    width: 100%;  
    align-items: left;
    background-color: #748CAB;
    margin: 0em auto;
    padding: 0 0.5rem;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, .6);
  }

  .new-solution-form {
    top: 0.25rem;
    left: 0.25rem;
    align-items: left;
    background-color: #748CAB;
    margin: 0em auto;
    padding: 0.5 0.5rem;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, .6);
  }

  .select-form {  
    position: absolute;
    top: 0rem;
    left: 0.25rem;
    width: 100%;  
    align-items: center;
    background-color: #748CAB;
    padding: 0 0rem;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, .6);
  }

  .success-alert {
    background: lightgreen;
    color: #1D2D44;
  }

  .quiz {
    position: absolute;
    top: 3rem;
    left: 3rem;
    width: 100%;
    margin: 1px auto;
    background-color: #748CAB;
  }

  .code {
    margin: 0.25rem;
    padding: 0.25rem;
  }

  