.question{
    padding: 10px 14px;
    display: flex;
}

.question section{
    width: 100%;
    margin-left: 2%;
}

.question-text{
    font-size: 17px;
    font-weight: bold;
    letter-spacing: 1px;
    line-height: 1.7;
    font-family: GOT;
    color: rgba(0,0,0,0.6);
    float: left;
}

.question-text-holder button{
    color: white;
    background: #0D1321;
    padding: 12px 25px;
    border: none;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 8px;
    float: right;
    cursor: pointer;
    margin-bottom: 10px;
}

.question-option{
    border-radius: 8px;
    box-shadow: 0 5px 13px 1px rgba(0,0,0,0.1);
    padding: 5px;
    width: 100%;
    font-size: 17px;
    font-weight: 600;
    color: rgba(0,0,0,0.8);
    border: 0;
    background: white;
    margin: 13px 0;
    display: flex;
    align-items: center;
    font-family: GOT;
    letter-spacing: 1px;
    cursor: pointer;
}
.question-option span{
    height: 60px;
    width: 50px;
    font-size: 18px;
    text-align: center;
    background: rgb(235, 235, 237);
    color: rgba(0,0,0,0.6);
    line-height: 3.2;
    border-radius: 5px;
    font-weight: bold;
    margin-right: 20px;
}

.question-option:hover{
    box-shadow: 1px 6px 17px 8px rgba(0,0,0,0.1);
}

.question-option:hover span{
    background: #0D1321;
    color: whitesmoke;
}

.correct{
    background: darkgreen;
    color: whitesmoke;
}

.wrong{
    background: darkred;
    color: whitesmoke;
}

@media (max-width: 400px) {
    .question {
        display: block;
    }
    .question section{
        width: unset;
    }
    .questions-progress{
        position: unset !important;
        margin-bottom: 10px;
    }
}

.questions-progress {
    width: 60px;
    height: 60px;
    display: flex;
    margin: 0 auto 15px;
    align-items: center;
    justify-content: center;
    box-shadow: 0 5px 8px 1px rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    color: rgba(0, 0, 0, 0.7);
    background: white;
    font-size: 16px;
    font-weight: bold;
    border: 4px solid rgba(0, 0, 0, 0.3);
    position: fixed;
    left: 50%;
    bottom: 5px;
  }
  .results {
    padding: 10px;
    margin-top: 20px; 
  }
  .results img {
    width: 100%;
    height: 300px;
    border-radius: 10px;
    object-fit: contain;
    padding: 10px;
  }
  
  .results h3 {
    font-weight: bold;
    font-size: 23px;
    text-align: center;
  }
  
  .try-again {
    display: flex;
    align-items: center;
    border-radius: 8px;
    text-transform: uppercase;
    text-align: center;
    box-shadow: 0 5px 13px 1px rgba(0, 0, 0, 0.1);
    padding: 15px 30px;
    margin: auto;
    font-size: 17px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.8);
    border: 0;
    background: white;
    cursor: pointer;
  }
  