body {
  background-color: #748CAB;
  padding-top: 0px;
  margin: 0;
}

h1, h2, p, ul, li {
  font-family: sans-serif;
}

ul.nav li {
  display: inline;
  list-style-type: none;
  margin: 0;
}
ul.nav {
  background-color: #748CAB;
  padding: 0;
}
ul.nav li a {
  color: black;
  text-decoration: none;
  padding: 15px;
  display: inline-block;
}

.headline {
  position: absolute;
  top: 1.5rem;
  left: 3rem;
}