body {
  background-color: #748CAB;
  padding-top: 0px;
  margin: 0;
}

h1, h2, p, ul, li {
  font-family: sans-serif;
}

ul.nav li {
  display: inline;
  list-style-type: none;
  margin: 0;
}
ul.nav {
  background-color: #1D2D44;
  padding: 0;
}
ul.nav li a {
  color: whites;
  font-weight: bold;
  text-decoration: none;
  padding: 20px;
  display: inline-block;
}

.headline {
  position: absolute;
  top: 1rem;
  left: 3rem;
}